<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/hangman_logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/game.css">
    <title>Hangman Game</title>
</head>
<body>
    <header>
        <div class="title">
            <h1>HANGMAN GAME</h1>
            <p>a project of Mario & Sandra</p>
        </div>
    </header>
    <section class="wordSpace">
        <div id="word"></div>
    </section>
    <section class="keyboard">
        <div id="keyboard1">
            <div id="A" class="key">A</div>
            <div id="B" class="key">B</div>
            <div id="C" class="key">C</div>
            <div id="D" class="key">D</div>
            <div id="E" class="key">E</div>
            <div id="F" class="key">F</div>
            <div id="G" class="key">G</div>
            <div id="H" class="key">H</div>
            <div id="I" class="key">I</div>
            <div id="J" class="key">J</div>
            <div id="K" class="key">K</div>
            <div id="L" class="key">L</div>
            <div id="M" class="key">M</div>
            <div id="N" class="key">N</div>
            <div id="O" class="key">O</div>
            <div id="P" class="key">P</div>
            <div id="Q" class="key">Q</div>
            <div id="R" class="key">R</div>
            <div id="S" class="key">S</div>
            <div id="T" class="key">T</div>
            <div id="U" class="key">U</div>
            <div id="V" class="key">V</div>
            <div id="W" class="key">W</div>
            <div id="X" class="key">X</div>
            <div id="Y" class="key">Y</div>
            <div id="Z" class="key">Z</div>
            <div id="&" class="key">&</div>
            <div id="'" class="key">'</div>
            <div id="+" class="key">+</div>
            <div id="-" class="key">-</div>
            <div id="0" class="key">0</div>
            <div id="1" class="key">1</div>
            <div id="2" class="key">2</div>
            <div id="3" class="key">3</div>
            <div id="4" class="key">4</div>
            <div id="5" class="key">5</div>
            <div id="6" class="key">6</div>
            <div id="7" class="key">7</div>
            <div id="8" class="key">8</div>
            <div id="9" class="key">9</div>
            <div id="²" class="key">²</div>
            <div id="³" class="key">³</div>
            <div id="flecha1" class="key">-></div>
        </div>
        <div id="keyboard2">
            <div id="À" class="key">À</div>
            <div id="Á" class="key">Á</div>
            <div id="Å" class="key">Å</div>
            <div id="Ā" class="key">Ā</div>
            <div id="Æ" class="key">Æ</div>
            <div id="â" class="key">â</div>
            <div id="ã" class="key">ã</div>
            <div id="ä" class="key">ä</div>
            <div id="ă" class="key">ă</div>
            <div id="ǎ" class="key">ǎ</div>
            <div id="È" class="key">È</div>
            <div id="É" class="key">É</div>
            <div id="Ē" class="key">Ē</div>
            <div id="ê" class="key">ê</div>
            <div id="ë" class="key">ë</div>
            <div id="ė" class="key">ė</div>
            <div id="ę" class="key">ę</div>
            <div id="ḗ" class="key">ḗ</div>
            <div id="Í" class="key">Í</div>
            <div id="ì" class="key">ì</div>
            <div id="î" class="key">î</div>
            <div id="ï" class="key">ï</div>
            <div id="Ò" class="key">Ò</div>
            <div id="Ó" class="key">Ó</div>
            <div id="Ö" class="key">Ö</div>
            <div id="Ō" class="key">Ō</div>
            <div id="Ø" class="key">Ø</div>
            <div id="ô" class="key">ô</div>
            <div id="ŏ" class="key">ŏ</div>
            <div id="ő" class="key">ő</div>
            <div id="ǒ" class="key">ǒ</div>
            <div id="œ" class="key">œ</div>
            <div id="Ú" class="key">Ú</div>
            <div id="ù" class="key">ù</div>
            <div id="û" class="key">û</div>
            <div id="ü" class="key">ü</div>
            <div id="ū" class="key">ū</div>
            <div id="ŭ" class="key">ŭ</div>
            <div id="ů" class="key">ů</div>
            <div id="ý" class="key">ý</div>
            <div id="·" class="key">·</div>
            <div id="₂" class="key">₂</div>
        </div>
        <div id="keyboard3">
            <div id="Ç" class="key">Ç</div>
            <div id="Č" class="key">Č</div>
            <div id="ć" class="key">ć</div>
            <div id="ḍ" class="key">ḍ</div>
            <div id="Ǧ" class="key">Ǧ</div>
            <div id="Ḥ" class="key">Ḥ</div>
            <div id="ḫ" class="key">ḫ</div>
            <div id="ķ" class="key">ķ</div>
            <div id="Ñ" class="key">Ñ</div>
            <div id="ń" class="key">ń</div>
            <div id="ň" class="key">ň</div>
            <div id="ṇ" class="key">ṇ</div>
            <div id="ṛ" class="key">ṛ</div>
            <div id="ř" class="key">ř</div>
            <div id="Š" class="key">Š</div>
            <div id="Ś" class="key">Ś</div>
            <div id="Ş" class="key">Ş</div>
            <div id="ṣ" class="key">ṣ</div>
            <div id="Ṭ" class="key">Ṭ</div>
            <div id="ţ" class="key">ţ</div>
            <div id="Ž" class="key">Ž</div>
            <div id="ż" class="key">ż</div>
            <div id="ź" class="key">ź</div>
            <div id="ł" class="key">ł</div>
            <div id="Ł" class="key">Ł</div>
            <div id="ī" class="key">ī</div>
            <div id="ı" class="key">ı</div>
        </div>
    </section>
</body>
</html>