<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/hangman_logo.png">
    <title>Hangman Game</title>
</head>
<body>
    <header>
        <div class="title">
            <h1>HANGMAN GAME</h1>
            <p>a project of Mario & Sandra</p>
        </div>
    </header>
    <section class="wordSpace">
        <div id="word"></div>
    </section>
    <section class="keyboard">
        <div id="keyboard1">
            <div id="" class="key">A</div>
            <div id="" class="key">B</div>
            <div id="" class="key">C</div>
            <div id="" class="key">D</div>
            <div id="" class="key">E</div>
            <div id="" class="key">F</div>
            <div id="" class="key">G</div>
            <div id="" class="key">H</div>
            <div id="" class="key">I</div>
            <div id="" class="key">J</div>
            <div id="" class="key">K</div>
            <div id="" class="key">L</div>
            <div id="" class="key">M</div>
            <div id="" class="key">N</div>
            <div id="" class="key">O</div>
            <div id="" class="key">P</div>
            <div id="" class="key">Q</div>
            <div id="" class="key">R</div>
            <div id="" class="key">S</div>
            <div id="" class="key">T</div>
            <div id="" class="key">U</div>
            <div id="" class="key">V</div>
            <div id="" class="key">W</div>
            <div id="" class="key">X</div>
            <div id="" class="key">Y</div>
            <div id="" class="key">Z</div>
            <div id="" class="key">&</div>
            <div id="" class="key">'</div>
            <div id="" class="key">+</div>
            <div id="" class="key">-</div>
            <div id="" class="key">0</div>
            <div id="" class="key">1</div>
            <div id="" class="key">2</div>
            <div id="" class="key">3</div>
            <div id="" class="key">4</div>
            <div id="" class="key">5</div>
            <div id="" class="key">6</div>
            <div id="" class="key">7</div>
            <div id="" class="key">8</div>
            <div id="" class="key">9</div>
            <div id="" class="key">²</div>
            <div id="" class="key">³</div>
        </div>
        <div id="keyboard2">
            <div id="" class="key">À</div>
            <div id="" class="key">Á</div>
            <div id="" class="key">Å</div>
            <div id="" class="key">Ā</div>
            <div id="" class="key">Æ</div>
            <div id="" class="key">â</div>
            <div id="" class="key">ã</div>
            <div id="" class="key">ä</div>
            <div id="" class="key">ă</div>
            <div id="" class="key">ǎ</div>
            <div id="" class="key">È</div>
            <div id="" class="key">É</div>
            <div id="" class="key">Ē</div>
            <div id="" class="key">ê</div>
            <div id="" class="key">ë</div>
            <div id="" class="key">ė</div>
            <div id="" class="key">ę</div>
            <div id="" class="key">ḗ</div>
            <div id="" class="key">Í</div>
            <div id="" class="key">ì</div>
            <div id="" class="key">î</div>
            <div id="" class="key">ï</div>
            <div id="" class="key">Ò</div>
            <div id="" class="key">Ó</div>
            <div id="" class="key">Ö</div>
            <div id="" class="key">Ō</div>
            <div id="" class="key">Ø</div>
            <div id="" class="key">ô</div>
            <div id="" class="key">ŏ</div>
            <div id="" class="key">ő</div>
            <div id="" class="key">ǒ</div>
            <div id="" class="key">œ</div>
            <div id="" class="key">Ú</div>
            <div id="" class="key">ù</div>
            <div id="" class="key">û</div>
            <div id="" class="key">ü</div>
            <div id="" class="key">ū</div>
            <div id="" class="key">ŭ</div>
            <div id="" class="key">ů</div>
            <div id="" class="key">ý</div>
            <div id="" class="key">·</div>
            <div id="" class="key">₂</div>
        </div>
        <div id="keyboard3">
            <div id="" class="key">Ç</div>
            <div id="" class="key">Č</div>
            <div id="" class="key">ć</div>
            <div id="" class="key">ḍ</div>
            <div id="" class="key">Ǧ</div>
            <div id="" class="key">Ḥ</div>
            <div id="" class="key">ḫ</div>
            <div id="" class="key">ķ</div>
            <div id="" class="key">Ñ</div>
            <div id="" class="key">ń</div>
            <div id="" class="key">ň</div>
            <div id="" class="key">ṇ</div>
            <div id="" class="key">ṛ</div>
            <div id="" class="key">ř</div>
            <div id="" class="key">Š</div>
            <div id="" class="key">Ś</div>
            <div id="" class="key">Ş</div>
            <div id="" class="key">ṣ</div>
            <div id="" class="key">Ṭ</div>
            <div id="" class="key">ţ</div>
            <div id="" class="key">Ž</div>
            <div id="" class="key">ż</div>
            <div id="" class="key">ź</div>
            <div id="" class="key">ł</div>
            <div id="" class="key">Ł</div>
            <div id="" class="key">ī</div>
            <div id="" class="key">ı</div>
        </div>
    </section>
</body>
</html>