<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/hangman_logo.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Teko:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/src/css/index.css">
    <title>Hangman Game</title>
</head>
<body>
    <div class="titleContainer">
        <h1>HANGMAN GAME</h1>
        <p>a project of Mario & Sandra</p>
    </div>
    <div class="buttonsContainer">
        <a id="playBtn" href="/src/views/game.html">PLAY</a>
        <a id="statsBtn" href="/src/views/stats.html">STATS</a>
    </div>
    <div class="logoContainer">
        <img src="/images/hangman_logo.png" alt="logo">
    </div>
</body>
</html>