* {
    font-family: 'Chakra Petch';
    font-weight: 600;
}

body {
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.titleContainer h1 {
    font-family: 'Teko';
    font-size: 80px;
    margin-bottom: 0;
    color: #AE22FF;
    font-weight: 600;
    letter-spacing: 5px;
    animation: flicker 7.5s infinite;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        color: #AE22FF; /* Color original */
        text-shadow: none;
    }
    20%, 24%, 55% {
        color: white; /* Parpadeo a blanco */
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.6); /* Efecto de luz tenue */
    }
    70%, 72%, 75% {
        color: white;
        text-shadow: 0 0 12px rgba(255, 255, 255, 0.8); /* Parpadeo más fuerte */
    }
}


.titleContainer p {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 0;
}

.buttonsContainer {
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 100px;
}

.buttonsContainer a {
    font-family: 'Teko';
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 40px;
    font-size: 40px;
    text-align: center;
    align-items: center;
    height: fit-content;
}

#playBtn {
    background-color: #AE22FF;
    border: 3px solid #FFFFFF;
    margin: 0 40px;
}

#statsBtn {
    background-color: #FFFFFF;
    border: 3px solid #AE22FF;
    margin: 0 40px;
    color: #AE22FF;
}

#playBtn:hover {
    border: 3px solid #AE22FF;
    margin: 0 40px;
    color: #AE22FF;
    color: white;
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.8); /* Parpadeo más fuerte */
    transition: ease-in-out 0.3s;
}

#statsBtn:hover {
    border: 3px solid #FFFFFF;
    margin: 0 40px;
    color: #AE22FF;
    text-shadow: 0 0 12px rgba(191, 47, 248, 0.644); /* Parpadeo más fuerte */
    transition: ease-in-out 0.3s;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logoContainer img {
    width: 350px;
}

.logo {
    margin-top: -25px;
    animation: swing 2s ease-in-out infinite;
    transform-origin: top center; /* Define el punto de balanceo */
    z-index: -100;
}

@keyframes swing {
    0% {
        transform: rotate(10deg); /* Balanceo hacia un lado */
    }
    50% {
        transform: rotate(-10deg); /* Balanceo hacia el otro lado */
    }
    100% {
        transform: rotate(10deg); /* Balanceo hacia un lado */
    }
}

